version: '3.8'

services:
  web:
    build: .
    container_name: marliz-sec-news
    restart: always
    ports:
      - "3005:3000"
    volumes:
      - ./backend/cybersec_news.db:/app/backend/cybersec_news.db
    env_file:
      - .env

  caddy:
    image: caddy:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - web

volumes:
  caddy_data:
  caddy_config:
